.ssh/
.vscode-server/
.bash_history
.viminfo
.gitconfig
.devcontainer/.onCreateCommandMarker
.devcontainer/.postCreateCommandMarker
.devcontainer/.postStartCommandMarker
.devcontainer/.updateContentCommandMarker
build/
.local/
.gnupg/
.devcontainer/
.vscode/